# PyCharm
**/.idea/workspace.xml
**/.idea/usage.statistics.xml
**/.idea/tasks.xml
**/venv/

# BeamNG
BeamNG/BeamNGUserpath/
!BeamNG/BeamNGUserpath/mods/unpacked/*
BeamNG/BeamNG.ini
BeamNG/output/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.run.xml
*.blg
*.dvi
*.alg
*.acn
*.acr
*.ist
